.container{border: solid 1px #e4e4e4;
	padding: 20px;
	width: 500px;
	border-radius: 3px 3px;
	text-align: center;
	box-shadow: 10px 10px 11px 0      rgba(0,0,0,0.11);
	margin: auto;
}

body {
    text-align: center;
    background-color: #FDFFFC;
    color: #536271;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;


}

h1 {
    font-family: 'Roboto';
    font-size: 40px;
    margin: 0.2em;
    color: #2C3D55
}

h2 {
    margin: 1em 0 0.25em;
    font-family: 'Lato';
    color:#9E768F;
    font-size:20px;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
